.button {
  background: rgba(190,190,190,150);
  border: solid #575757 5px;
  color: #545454;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  display:inline-block;
  width:100%;
  border-radius: 9px;
}
table {
width: 100%;
}

td, th {
  text-align: center;
  width: 33%;
}
.buttonSummon {
    background-color: #3ecb64;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    display:inline-block;
    width:45%;
}

.buttonDisappear {
  background-color: #FF7900;
  display:inline-block;
}
