<html>
<head>
  <title>AR-View</title>
  <meta name="description" content="Multiuser community tableu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
  <!-- <script src="https://cdn.rawgit.com/donmccurdy/aframe-physics-system/v2.1.0/dist/aframe-physics-system.min.js"></script> -->
  <script src="js/aframe-physics-system.js"></script>
  <!-- Multiuser connection -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

  <!-- Networked Aframe v0.1.0 -->
  <script src="library/networked-aframe.js"></script>
  <script src="https://cdn.rawgit.com/priologic/easyrtc/v1.1.0/api/easyrtc.js"></script>

  <script src="https://unpkg.com/aframe-randomizer-components@^3.0.1/dist/aframe-randomizer-components.min.js"></script>
  <script src="https://unpkg.com/aframe-particle-system-component@1.0.5/dist/aframe-particle-system-component.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://use.fontawesome.com/00712d7803.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <!-- Argon -->
  <!-- <script src="library/argon/argon.js"></script>
  <script src="library/argon/argon-aframe.js"></script>
  <script src="library/argon/CSS3DArgonRenderer.js"></script>
  <script src="library/argon/CSS3DArgonHUD.js"></script>
  <script src="library/aframe-look-at-component.js"></script> -->

  <!-- A-Frame component to register event listeners that set properties -->
  <!-- useful for cursor events -->
  <script src="https://unpkg.com/aframe-event-set-component@^4.0.0/dist/aframe-event-set-component.min.js"></script>

  <link rel="stylesheet" href="css/arview.css">
  <meta charset="UTF-8">
  <title>The Table</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <script src="js/main-ar.js"></script>
</head>
  <body onload="init()">
    <script type="text/javascript">
      window.localStorage["uid"] = "<%= uid %>";
    </script>
    <!-- <script>
      // Argon obj location detect
      AFRAME.registerComponent('showdistance', {
        schema: {
          default: ""
        },

        init: function () {
            this.text = "";
        },

        update: function () {
          this.text = this.data;
        },

        tick: function (t) {
          var object3D = this.el.parentEl.parentEl.object3D;
          var camera = this.el.sceneEl.camera;
          if (!camera) {return;}

          var cameraPos = camera.getWorldPosition();
          var thisPos = object3D.getWorldPosition();
          var distance = Math.round(thisPos.distanceTo(cameraPos));

          var cssDiv = this.el.getObject3D('div');
          var msg = this.text + distance + " meters away";
          cssDiv.elements[0].innerHTML = msg;
          cssDiv.elements[1].innerHTML = msg;
        }
      });
    </script> -->
    <!-- <div hidden>
      <div id="gtdiv" class="label">Georgia Tech</div>
      <div id="londondiv" class="label">Tower of London</div>
      <div id="tokyodiv" class="label">Tokyo</div>
      <div id="sydneydiv" class="label">Sydney Opera House</div>
      <div id="londonpin" class="pin"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <div id="tokyopin" class="pin"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <div id="sydneypin" class="pin"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
    </div> -->

    <center id="ui">

      <!-- STATE A: Start screen with adding an entity -->
      <div id="stateA">
        <div class="backButtonDiv">
          <button onclick="goBack()" class="backButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>
	
	<div id="annoBoxi" class="annotation hide-annotation annotationObj optionButton">
		<div>
			<p>Hello World! You have found a wild annotation.</p>
		</div>
		<div> Test to see this should work </div>
	</div>
        
	 <div class="addRemoveButton">

          <button onclick="removeButtonPress()" type="button" class="removeButton optionButton hide-button mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
            <i class="material-icons">delete</i>
          </button>

          <button onclick="editModelPress()" type="button" class="addButton optionButton hide-button mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">create</i>
          </button>

          <button onclick="addAnnotationPress()" type="button" class="addButton annotationObj optionButton hide-button mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">chat</i>
          </button>

          <button onclick="stateChange('stateB')" class="addButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">add</i>
          </button>

        </div>
      </div>
      <!-- END STATE A -->

      <!-- STATE B: UI for adding a shape / model -->
      <div id="stateB" class="hide-state">
         <!-- When addEntity() is pressed, uiElem is shown -->
        <center id="uiElem">
          <div class="boxAndButtons">
            <div class="objectAddBox">
              <center>
                <div class="searchbar">
                  <div class="dropdown">
                    <button class="dropbtn">All</button>
                    <div id="myDropdown" class="dropdown-content">
                    </div>
                  </div>
                  <div class="box">
                    <div class="container-4">
                      <input onkeypress="checkKey(event)" type="search" class="search" id="search" placeholder="Search...">
                      <button onclick="searchButtonPress()" class="icon check"><i class="material-icons">search</i></button>
                    </div>
                  </div>

                </div>

                <div class="objects">
                </div>

              </center>
            </div>

            <button class="uploadButton" onclick="stateChange('stateB2')">Upload</button>
            <button class="cancelButton" onclick="stateChange('stateA')">Cancel</button>
          </div>
        </center>
      </div>
      <!-- END STATE B -->

       <!-- STATE B2: UI for uploading model -->
      <div id="stateB2" class="hide-state">
         <!-- When addEntity() is pressed, uiElem is shown -->
        <center id="uiElem">
          <div class="boxAndButtons">
            <div class="objectUploadBox">
              <center>
                <div class="searchbar">
                  <button onclick="stateChange('stateB')" class="icon back"><i class="material-icons">arrow_back</i></button>
                  <div class="box">
                    <div class="container-4">
                      <input  type="search" class="search" id="fileInputField" placeholder="Enter URL of Model...">
                      <button onclick="uploadItemButtonPress()" class="icon check"><i class="material-icons">done</i></button>
                    </div>
                  </div>

                </div>

              </center>
            </div>
          </div>
        </center>
      </div>
      <!-- END STATE B -->

      <!-- STATE C: Editing portion to move/rotate/resize/recolor entities -->
      <div id="stateC" class="hide-state">
        <div class="editTray">
          <button onclick="moveButtonPress()" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">open_with</i>
          </button>
          <button onclick="rotateButtonPress()" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">3d_rotation</i>
          </button>
          <button onclick="sizeButtonPress()" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">picture_in_picture</i>
          </button>
          <button onclick="stateChange('stateA')" class="doneButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">done</i>
          </button>
          <button onclick="colorButtonPress()" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">color_lens</i>
          </button>
          <button onclick="undoButtonPress()" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">undo</i>
          </button>
          <button onclick="deleteButtonPress()" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">delete</i>
          </button>
        </div>
        <!-- <center id = "editBoxCenter" class="editBoxCenter">
          <div class="editingBox">
            <div id = "editOptionsBox" class="editOptionsBox">
              <button class="editOptionsButton" onclick="moveButtonPress()">Move</button>
              <button class="editOptionsButton" onclick="rotateButtonPress()">Rotate</button>
              <button class="editOptionsButton" onclick="sizeButtonPress()">Resize</button>
              <button class="editOptionsButton" onclick="colorButtonPress()">Color</button>
            </div>

            <div class="finalOptionsButtonBox">
              <button class="finalOptionsButton" onclick="undoButtonPress()">
                <i class="fa fa-undo" aria-hidden="true"></i>
              </button>

              <button class="finalOptionsButton" onclick="deleteButtonPress()">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>

              <button class="finishButton" onclick="stateChange('stateA')">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </center> -->
      </div>
      <!-- END STATE C -->

      <!-- STATE C1: MOVE an entity -->
      <div id="stateC1" class="hide-state">
        <div class="editTray">
          <button onclick="move('x', -1, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
             <i class="material-icons">arrow_back</i>
          </button>
          <button onclick="move('x', 1, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">arrow_forward</i>
          </button>
          <button onclick="move('y', 1, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">arrow_upward</i>
          </button>
          <button onclick="move('y', -1, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">arrow_downward</i>
          </button>
          <button onclick="move('z', 1, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">add</i>
          </button>
          <button onclick="move('z', -1, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
             <i class="material-icons">remove</i>
          </button>
          <button  onclick="stateChange('stateC')" class="doneButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">done</i>
          </button>
        </div>
        <!-- <center id = "editBoxCenter" class="editBoxCenter">
          <div class="editingBox">
            <div class="editOptionsBox">
              <button class="moveButtons" onclick="move('x', -1, false)">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="move('y', +1, false)">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="move('z', +1, false)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="move('x', +1, false)">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="move('y', -1, false)">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="move('z', -1, false)">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
            </div>
            <div class="finalOptionsButtonBox">
              <button class="completeButton" onclick="stateChange('stateC')">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <button class="cancelEditButton" onclick="cancelEditingAttribute()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </center> -->
      </div>
      <!-- END STATE C1 -->

      <!-- STATE C2: ROTATE an entity -->
      <div id="stateC2" class="hide-state">
        <div class="editTray">
          <button onclick="rotate('y', -5, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
             <i class="material-icons">arrow_back</i>
          </button>
          <button onclick="rotate('y', 5, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">arrow_forward</i>
          </button>
          <button onclick="rotate('x', -5, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">arrow_upward</i>
          </button>
          <button onclick="rotate('x', 5, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">arrow_downward</i>
          </button>
          <button onclick="rotate('z', -5, false)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
               <i class="material-icons">rotate_left</i>
          </button>
          <button onclick="rotate('z', 5, false)"class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
             <i class="material-icons">rotate_right</i>
          </button>
          <button  onclick="stateChange('stateC')" class="doneButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">done</i>
          </button>
        </div>
      <!-- <center id = "editBoxCenter" class="editBoxCenter">
          <div class="editingBox">
            <div class="editOptionsBox">
              <button class="moveButtons" onclick="rotate('y', -5, false)">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="rotate('x', -5, false)">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="rotate('z', -5, false)">
                <i class="fa fa-rotate-left" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="rotate('y', 5, false)">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="rotate('x', 5, false)">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
              </button>
              <button class="moveButtons" onclick="rotate('z', 5, false)">
                <i class="fa fa-rotate-right" aria-hidden="true"></i>
              </button>
            </div>
            <div class="finalOptionsButtonBox">
              <button class="completeButton" onclick="stateChange('stateC')">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <button class="cancelEditButton" onclick="cancelEditingAttribute()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </center> -->
      </div>
      <!-- END STATE C2 -->

      <!-- STATE C3: RESIZE an entity -->
      <div id="stateC3" class="hide-state">
        <div class="editTray">
          <button onclick="scale(.01)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
             <i class="material-icons">add</i>
          </button>
          <button onclick="scale(-.01)" class="editButton mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
              <i class="material-icons">remove</i>
          </button>
          <button onclick="stateChange('stateC')" class="doneButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">done</i>
          </button>
        </div>
        <!-- <center id = "editBoxCenter" class="editBoxCenter">
          <div class="editingBox">
            <div class="editOptionsBox">
              <button class="resizeButton" onclick="resize(0.1)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button class="resizeButton" onclick="resize(-0.1)">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
            </div>
            <div class="finalOptionsButtonBox">
              <button class="completeButton" onclick="stateChange('stateC')">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <button class="cancelEditButton" onclick="cancelEditingAttribute()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </center> -->
      </div>
      <!-- END STATE C3 -->

      <!-- STATE C4: RECOLOR an entity -->
      <div id="stateC4" class="hide-state">
        <div class="editTray">
          <INPUT class="colorPicker jscolor {onFineChange:'setColor(this.toHEXString())'}" value="cc66ff">
          <button  onclick="stateChange('stateC')" class="doneButton mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
            <i class="material-icons">done</i>
          </button>
        </div>
        <!-- <center id = "editBoxCenter" class="editBoxCenter">
            <div class="editingBox">
              <div class="editOptionsBox">
                <INPUT class="colorPicker jscolor {onFineChange:'setColor(this.toHEXString())'}" value="cc66ff">
              </div>
              <div class="finalOptionsButtonBox">
                <button class="completeButton" onclick="stateChange('stateC')">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button class="cancelEditButton" onclick="cancelEditingAttribute()">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </center> -->
      </div>
      <!-- END STATE C4 -->
       <!-- STATE D: UI for annotations -->
      <div id="stateD" class="hide-state">
         <!-- When addEntity() is pressed, uiElem is shown -->
         <center id="uiElem">
          <div class="boxAndButtons">
            <div class="objectAddBox">
              <center>
                <div class="searchbar">
                  <div class="dropdown">
                    <button class="dropbtn">All</button>
                    <div id="myDropdown" class="dropdown-content">
                    </div>
                  </div>
                  <div class="box">
                    <div class="container-4">
<!--                        <textarea id="annotationTxt" class="annotationTextArea" rows="4" cols="50">
                        Hello World!
                        </textarea> -->
<!-- 			<form name="annotate"> -->
				<span style="color: #FFF">Message: </span>
				<br>
  				<input type="text" id="userInput" value="">
  				<br>
  				<br><br>
			    <button onClick="annoPress()">Annotate</button>
<!-- 			</form>  -->
                    </div>
                  </div>

                </div>

              </center>
            </div>

<!--             <button class="uploadButton" onclick="annoPress()">Upload</button> -->
            <button class="cancelButton" onclick="stateChange('stateA')">Cancel</button>
          </div>
        </center>
        </div>
        <!-- END STATE D -->

    </center>
    <a-scene physics-world="gravity: 0 -9.81 0" network-scene="
      app: myApp;
      room: room1;
      connectOnLoad: true;
      onConnect: onConnect;
      adapter: wseasyrtc;
      debug: true;
    ">
    <!-- <ar-scene physics-world="gravity: 0 -9.81 0" networked-scene="
      app: myApp;
      room: room1;
      debug: true;
    "> -->
      <a-assets>
        <img id="grid" src="https://img.gs/bbdkhfbzkk/stretch/https://i.imgur.com/25P1geh.png" crossorigin="anonymous">
        <img id="sky" src="assets/images/sky.png">
        <!-- <img id="buzzpin" src="assets/images/buzz-pin.png"> -->
        <a-asset-item id="pokemon-obj" src="https://raw.githubusercontent.com/argonjs/understanding-argon-twine/master/docs/models/pokemon-go/pokemon-go.obj"></a-asset-item>
        <a-asset-item id="box-obj" src="assets/objects/box.obj"></a-asset-item>
        <a-asset-item id="ellipsoid-obj" src="assets/objects/ellipsoid.obj"></a-asset-item>
        <a-asset-item id="icosahedron-obj" src="assets/objects/icosahedron.obj"></a-asset-item>
        <a-asset-item id="monkey_head-obj" src="assets/objects/monkey_head.obj"></a-asset-item>
        <a-asset-item id="rectangular_prism-obj" src="assets/objects/rectangular_prism.obj"></a-asset-item>
        <a-asset-item id="short_triangular_prism-obj" src="assets/objects/short_triangular_prism.obj"></a-asset-item>
        <a-asset-item id="sphere-obj" src="assets/objects/sphere.obj"></a-asset-item>
        <a-asset-item id="square_pyramid-obj" src="assets/objects/square_pyramid.obj"></a-asset-item>
        <a-asset-item id="torus-obj" src="assets/objects/torus.obj"></a-asset-item>
        <a-asset-item id="torus2-obj" src="assets/objects/torus2.obj"></a-asset-item>
        <a-asset-item id="torus3-obj" src="assets/objects/torus3.obj"></a-asset-item>
        <a-asset-item id="torus4-obj" src="assets/objects/torus4.obj"></a-asset-item>
        <a-asset-item id="triangle_pyramid-obj" src="assets/objects/triangle_pyramid.obj"></a-asset-item>
        <a-asset-item id="triangular_prism-obj" src="assets/objects/triangular_prism.obj"></a-asset-item>

        <script id="avatar-template" type="text/html">
          <a-entity class="avatar">
            <a-sphere class="head"
              scale="0.45 0.5 0.4"
              random-color
            ></a-sphere>
            <a-entity class="face"
              position="0 0.05 0"
            >
              <a-sphere class="eye"
                color="#efefef"
                position="0.16 0.1 -0.35"
                scale="0.12 0.12 0.12"
              >
                <a-sphere class="pupil"
                  color="#000"
                  position="0 0 -1"
                  scale="0.2 0.2 0.2"
                ></a-sphere>
              </a-sphere>
              <a-sphere class="eye"
                color="#efefef"
                position="-0.16 0.1 -0.35"
                scale="0.12 0.12 0.12"
              >
                <a-sphere class="pupil"
                  color="#000"
                  position="0 0 -1"
                  scale="0.2 0.2 0.2"
                ></a-sphere>
              </a-sphere>
            </a-entity>
          </a-entity>
        </script>

        <!-- Predefined models -->
        <script id="pokemon-model" type="text/html">
          <a-entity class="model" obj-model="obj: #pokemon-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="box-model" type="text/html">
          <a-entity class="model" obj-model="obj: #box-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="sphere-model" type="text/html">
          <a-entity class="model" obj-model="obj: #sphere-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="ellipsoid-model" type="text/html">
          <a-entity class="model" obj-model="obj: #ellipsoid-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
         <script id="icosahedron-model" type="text/html">
          <a-entity class="model" obj-model="obj: #icosahedron-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="monkey_head-model" type="text/html">
          <a-entity class="model" obj-model="obj: #monkey_head-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="rectangular_prism-model" type="text/html">
          <a-entity class="model" obj-model="obj: #rectangular_prism-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="short_triangular_prism-model" type="text/html">
          <a-entity class="model" obj-model="obj: #short_triangular_prism-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="square_pyramid-model" type="text/html">
          <a-entity class="model" obj-model="obj: #square_pyramid-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="torus-model" type="text/html">
          <a-entity class="model" obj-model="obj: #torus-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="torus2-model" type="text/html">
          <a-entity class="model" obj-model="obj: #torus2-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="torus3-model" type="text/html">
          <a-entity class="model" obj-model="obj: #torus3-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="torus4-model" type="text/html">
          <a-entity class="model" obj-model="obj: #torus4-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="triangle_pyramid-model" type="text/html">
          <a-entity class="model" obj-model="obj: #triangle_pyramid-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>
        <script id="triangular_prism-model" type="text/html">
          <a-entity class="model" obj-model="obj: #triangular_prism-obj" position="" rotation="" scale="" material=""></a-entity>
        </script>

      </a-assets>
      <!-- <a-sky src="#sky"></a-sky> -->
      <a-entity id="player" networked="template:#avatar-template;showLocalTemplate:false;" camera position="0 1.3 0" wasd-controls look-controls>
                <a-entity cursor id="cursor"
                  geometry="primitive: ring; radiusInner: 0.01; radiusOuter: 0.016"
                  material="color: #EEE"
                  position="0 0 -0.01"
                  scale="0.01 0.01 0.01"></a-entity>
      </a-entity>

      <a-sky src="#sky" rotation="0 -90 0"></a-sky>


    <!-- </ar-scene> -->
    </a-scene>

    <script src="js/index.js"></script>
    <script src="js/stateHandler.js"></script>
    <script src="js/buttonHandlers.js"></script>
    <script src="js/createButtons.js"></script>
    <script src="library/jscolor.min.js"></script>
    <script src="js/addItem.js"></script>
    <script src="library/jquery.ajax.js"></script>
    <script type="text/javascript">
      // Set the sky to the Google map paranoma image
      document.getElementById("sky").src = "<%= base64 %>";

  	  // Back button to Maps back to change panorama
  	  function goBack() {
		    window.location.href = '/maps';
  	  }

      // Load saved objects fetched from Firebase
      var savedObjects = <%- JSON.stringify(savedObjects) %>;
      for (var objectId in savedObjects) {
        var templateId = savedObjects[objectId]["templateId"];
        var creatorUid = savedObjects[objectId]["creatorUid"];
        var components = {
          position: JSON.parse(savedObjects[objectId]["position"]),
          rotation: JSON.parse(savedObjects[objectId]["rotation"]),
          scale: JSON.parse(savedObjects[objectId]["scale"]),
          material: JSON.parse(savedObjects[objectId]["material"]),
        }
        createModelWithComponents(creatorUid, objectId.replace("naf-", ""), templateId, components);
      }

      // Save an object after a user creates/edits an object
      $(".doneButton").click(function(ev) {
        $.ajax({
          url: "/save-object",
          method: "POST",
          data: {
            creatorUid: window.localStorage["uid"],
            templateId: selectedItem.getAttribute("template").src,
            objectId: selectedItem.id,
            position: JSON.stringify(selectedItem.getAttribute("position")),
            rotation: JSON.stringify(selectedItem.getAttribute("rotation")),
            scale: JSON.stringify(selectedItem.getAttribute("scale")),
            material: JSON.stringify({
              color: selectedItem.getAttribute("material").color
            }),
          },
          success: function(resp) {

          },
          error: function(resp) {

          }
        });
      });

      // TODO: Allow only creator to remove an object
      $(".removeButton").click(function() {
        $.ajax({
          url: "/remove-object",
          method: "POST",
          data: {
            objectId: selectedItem.id
          },
          success: function(resp) {

          },
          error: function(resp) {

          }
        })
      });

    </script>

  </body>
  </html>
