<html>
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
</head>
  <body style="background-color:#565861">
    <div class="mainDiv container-fluid" id="main-div">
      <div class="row" style="background-color:#5B778A">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
              <div class="page-header" style="margin-top:5vh; margin-bottom: 5vh">
                <h1>
                  [THE TABLE] <small>An Augmented Reality Experience</small>
                </h1>
              </div>
            </div>
            <div class="col-md-3">
              <a href="/login" class="btn btn-default login-btn">Login</a>
              <a href="/register" class="btn btn-default register-btn">Register</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row" style="background-color:#FBC72C">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="margin-bottom: 5vh">
              <h2 class="text-center" style="margin-top:5vh; margin-bottom: 5vh">
                Welcome to [The Table]!
              </h2>
              <div class="row">
                <div class="col-md-6">
                  <h2> <small>
                    [The Table] is an augmented reality experience created by Georgia Tech's Augmented Reality lab. Add shapes and models to the world around you to create your own unique works of art. Collaborate with others to join the conversation! The mobile experience allows you to look through your phone and edit a location on site, while this desktop version enables you to choose your own location and edit it from anywhere.
                    </small>
                  </h2>
                </div>
                <div class="col-md-6">
                  <center>
                    <img alt="Bootstrap Image Preview" src="assets/images/image.jpg" />
                  </center>
                </div>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/home.js"></script>
    <script src="library/jquery.slim.min.js"></script>
    <script src="library/bootstrap.min.js"></script>
    <script src="tether.min.js"></script>
  </body>
</html>
