<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase-auth.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC4qXiPBa87X524p_t3QJpsQJ7goHfJEqg",
      authDomain: "gt-ael.firebaseapp.com",
      databaseURL: "https://gt-ael.firebaseio.com",
      projectId: "gt-ael",
      storageBucket: "gt-ael.appspot.com",
      messagingSenderId: "1058241759354"
    };
    firebase.initializeApp(config);
  </script>
</head>
  <body>
    <div class="mainDiv container-fluid" id="main-div">
      <div class="row headerRow">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-9">
              <div class="page-header">
                <center>
                  <h1>
                    Invisible Cities: <small>Multi-user AR Public Monuments</small>
                  </h1>
                </center>
              </div>
            </div>
            <div class="col-md-3 buttonDiv">
              <a href="/login" class="btn btn-default login-btn">Login</a>
              <a href="/register" class="btn btn-default register-btn">Register</a>
            </div>
          </div>
          <div class="row whiteBack">
            <div class="col-md-12 mainCol mainRow">
              <h2 class="text-center subTitle">
                Welcome to Invisible Cities!
              </h2>
              <div class="row subMainRow mainRow">
                  <div class="col-md-12 mainContent">
                    <h2 class="paragraph1"> <small>
                    <img alt="Bootstrap Image Preview" class="img1" src="assets/images/gvu.jpg"/>
                      Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App.
                      </small>
                    </h2>
                  </div>
                </div>
                <div class="row subMainRow mainRow2">
                  <div class="col-md-12 mainContent" background-color="#F9DC84">
                    <h2 class="paragraph2"> <small>
                    <img alt="Bootstrap Image Preview" class="img2" src="assets/images/gvu.jpg"/>
                      Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App.
                      </small>
                    </h2>
                  </div>
                </div>
                <div class="row subMainRow mainRow">
                  <div class="col-md-12 mainContent">
                    <h2 class="paragraph3"> <small>
                    <img alt="Bootstrap Image Preview" class="img3" src="assets/images/gvu.jpg"/>
                      Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App. Text about the App.
                      </small>
                    </h2>
                  </div>
                </div>
                <div class="row subMainRow mainRow2">
                  <div class="col-md-12 mainContent">
                    <h2 class="paragraph4"> <small>
                      <img alt="Bootstrap Image Preview" class="img4" src="assets/images/gvu.jpg"/>
                      Created By:
                      <ul>
                        <li>Josh Fisher - <i>Ph.D. ?????</i></li>
                        <li>John Ho - <i>3rd Year Computer Science Undergrad</i></li>
                        <li>Sean McNeil - <i>3rd Year Electrical Engineering Undergrad</i></li>
                        <li>Cassie Mullins - <i>3rd Year Computational Media Undergrad</i></li>
                        <li>Jessica Pan - <i>2nd Year Computer Science Undergrad</i></li>
                        <li>Joshua Wang - <i>2nd Year Computer Science Undergrad</i></li>
                        <li>Konrad Wang - <i>2nd Year Computer Science Undergrad</i></li>
                        <li>Mark Woodson - <i>3rd Year Computer Engineering Undergrad</i></li>
                      </ul>
                    </small>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="js/home.js"></script>
    <script src="library/jquery.slim.min.js"></script>
    <script src="library/bootstrap.min.js"></script>
    <script src="tether.min.js"></script>
  </body>
</html>
