<html>
<head>
  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <meta charset="UTF-8">
  <title>The Table</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
  <body onload="init()">
    <center>
       <button onclick="summonButtonPress()" type="button" class="buttonSummon">+</button>
       <table id="buttonTable">
          <tr>
            <td><button onclick="removeButtonPress()" type="button" class="optionsButton">Remove</button></td>
          </tr>
       </table>
    </center>
    <a-scene>
      <a-assets>
        <img id="sky" src="assets/images/sky.png">
        <a-asset-item id="pokemon-mtl"
                      src="https://raw.githubusercontent.com/argonjs/understanding-argon-twine/master/docs/models/pokemon-go/pokemon-go.mtl">
        </a-asset-item>

        <a-asset-item id="pokemon-obj"
                      src="https://raw.githubusercontent.com/argonjs/understanding-argon-twine/master/docs/models/pokemon-go/pokemon-go.obj">
        </a-asset-item>

      </a-assets>
      <!-- <a-sky src="#sky"></a-sky> -->
      <a-sky src="assets/images/sky.png"></a-sky>
    </a-scene>

    <script src="js/index.js"></script>
    <script src="js/buttonHandlers.js"></script>
    <script src="js/createButtons.js"></script>
    <script src="library/jscolor.min.js"></script>

  </body>
  </html>
