<html>
<head>
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<div class="container login-container">
  <div class="row">
    <div class="card card-container">
    <h2 class='login-title text-center'>Login</h2>
    <hr>

    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <p class="input-title">Email</p>
      <input type="text" id="inputEmail" class="form-box" placeholder="" required autofocus>
      <p class="input-title">Password</p>
      <input type="password" id="inputPassword" class="form-box" placeholder="" required>
      <div id="remember" class="checkbox">
        <label>
        </label>
      </div>
      <button class="login-btn btn btn-lg btn-primary" type="submit">Login</button>
    </form>
    </div>
  </div>
</div>
</html>
