<html>
<head>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase-auth.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC4qXiPBa87X524p_t3QJpsQJ7goHfJEqg",
      authDomain: "gt-ael.firebaseapp.com",
      databaseURL: "https://gt-ael.firebaseio.com",
      projectId: "gt-ael",
      storageBucket: "gt-ael.appspot.com",
      messagingSenderId: "1058241759354"
    };
    firebase.initializeApp(config);
  </script>
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<div class="container login-container">
  <div class="row">
    <div class="card card-container">
      <h2 class='login-title text-center'>Register</h2>
      <hr>

      <form class="form-signin">
        <p class="input-title">Email</p>
        <input type="text" id="inputEmail" class="form-box" placeholder="" required autofocus>
        <p class="input-title">Password</p>
        <input type="password" id="inputPassword" class="form-box" placeholder="" required>
        <p class="input-title">Confirm Password</p>
        <input type="password" id="inputConfirmPassword" class="form-box" placeholder="" required>
        <button class="btn btn-lg btn-primary signup-btn" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>

<script src="js/validations.js"></script>
<script type="text/javascript">
  document.getElementsByClassName('signup-btn')[0].addEventListener('click', function(ev) {
    ev.preventDefault();

    var email = document.getElementById('inputEmail').value;
    var password = document.getElementById('inputPassword').value;
    var confirmPassword = document.getElementById('inputConfirmPassword').value;
    var hasValidated = validateUserCredentials(email, password, confirmPassword);

    if (hasValidated) {
      // Submit user credentials to the server
      firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        var errorCode = error.code;
        var errorMessage = error.message;
        var form = document.getElementsByClassName('card-container')[0];

        displayAlerts([errorMessage], form);
      });
    }
  });

</script>
</html>
