@media screen and (max-width: 450px) {
  button#addButton {
    margin: 0 73px 0 auto !important;
    visibility: visible;
  }
  td button.buttons {
    position: absolute;
    box-shadow: none !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  button#moreButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/more.png) !important;
    background-size: 47px 47px;
  }
  .moreButton[data-state=final] {
    margin: -63 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  button#cubeButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/cube.png) !important;
    background-size: 52px 52px;
  }
  .cubeButton[data-state=final] {
    margin: -117 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  button#pyramidButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/pyramid.png) !important;
    background-size: 56px 63px;
  }
  .pyramidButton[data-state=final] {
    margin: -173 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  button#modelButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/model-icon.png) !important;
    background-size: 47px 47px;
  }
  .modelButton[data-state=final] {
    margin: -235px 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  .editButton[data-state=final] {
    margin: 0 150px 0 auto !important;
    transition: all 0.3s ease;
  }
  .deleteButton[data-state=final] {
    margin: 20 150px 0 119 !important;
    transition: all 0.3s ease;
  }
  .resizeButton[data-state=final] {
    margin: -25px 0px 0 125px !important;
    transition: all 0.3s ease;
  }
  .colorButton[data-state=final] {
    margin: -47px 0px 0 168px !important;
    transition: all 0.3s ease;
  }
  .rotateButton[data-state=final] {
    margin: -42px 0px 0 209px !important;
    transition: all 0.3s ease;
  }
  /*.modelButton[data-state=final] {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: -70 74px 0 auto !important;
    transition: all 0.3s ease;
  }
  .modelButton[data-state=initial] {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 0 73px 0 auto !important;
    visibility: hidden;
  }*/
  /*button#modelButton {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 auto;
  }*/
}

@media screen and (min-width: 451px) {
  button#addButton {
    margin: 0 0 0 auto;
    visibility: hidden;
  }
  button#editButton {
    margin: 0 0 0 auto;
    visibility: hidden;
  }
}
.moreButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.cubeButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.pyramidButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.modelButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.editButton[data-state=initial] {
  margin: 80px 150px 0 auto !important;
  /*visibility: hidden;*/
}
.deleteButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.resizeButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.colorButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.rotateButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.button-display {
  margin: 0px 0 68px 93px;
}
.a-enter-vr-button {
  display: none;
}
button {
  /*background: #F9DC84;*/
  border: solid #5B778A 5px;
  color: #5B778A;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width:90%;
  border-radius: 9px;
  opacity:0.8;
  margin: 4px 5%;
}

.optionButton{
  background: #F9DC84;
  border: solid #5B778A 5px;
  color: #5B778A;
  padding: 15px 1px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  display:inline-block;
  width:100%;
  border-radius: 9px;
}

button.hide-button{
  display: none;
}

.hide-element{
  display: none;
}

table {
  margin: 4px 5%;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

td, th {
  text-align: center;
  width: 33%;
}

table.hide-table{
  display: none;
}

.finishButton{
    background-color: #FBC72C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width:90%;
}
.colorPicker{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 90%;
  padding: 15px 32px;
  margin: 4px 5%;
}
#fileInputField {
  background: rgb(255,255,255);
  border: solid #575757 5px;
  color: #000000;
  padding: 15px 1px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  display:inline-block;
  width:100%;
  border-radius: 9px;
}
