#uiElem{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  z-index: 5;
}
.editBoxCenter{
  position: absolute;
  bottom: 5px;
  left:0;
  right:0;
  z-index: 5;
}

@media screen and (max-width: 450px) {
  button#addButton {
    margin: 0 73px 0 auto !important;
    visibility: visible;
  }
  td button.buttons {
    position: absolute;
    box-shadow: none !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  button#moreButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/more.png) !important;
    background-size: 47px 47px;
  }
  .moreButton[data-state=final] {
    margin: -63 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  button#cubeButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/cube.png) !important;
    background-size: 52px 52px;
  }
  .cubeButton[data-state=final] {
    margin: -117 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  button#pyramidButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/pyramid.png) !important;
    background-size: 56px 63px;
  }
  .pyramidButton[data-state=final] {
    margin: -173 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  button#modelButton {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/assets/images/model-icon.png) !important;
    background-size: 47px 47px;
  }
  .modelButton[data-state=final] {
    margin: -235px 74px 0 auto !important;
    transition: all 0.3s ease;
  }

  .editButton[data-state=final] {
    margin: 0 150px 0 auto !important;
    transition: all 0.3s ease;
  }
  .deleteButton[data-state=final] {
    margin: 20 150px 0 119 !important;
    transition: all 0.3s ease;
  }
  .resizeButton[data-state=final] {
    margin: -25px 0px 0 125px !important;
    transition: all 0.3s ease;
  }
  .colorButton[data-state=final] {
    margin: -47px 0px 0 168px !important;
    transition: all 0.3s ease;
  }
  .rotateButton[data-state=final] {
    margin: -42px 0px 0 209px !important;
    transition: all 0.3s ease;
  }
  /*.modelButton[data-state=final] {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: -70 74px 0 auto !important;
    transition: all 0.3s ease;
  }
  .modelButton[data-state=initial] {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 0 73px 0 auto !important;
    visibility: hidden;
  }*/
  /*button#modelButton {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 auto;
  }*/
}

@media screen and (min-width: 451px) {
  button#addButton {
    margin: 0 0 0 auto;
    visibility: hidden;
  }
  button#editButton {
    margin: 0 0 0 auto;
    visibility: hidden;
  }
}
.moreButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.cubeButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.pyramidButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.modelButton[data-state=initial] {
  margin: 0 73px 0 auto !important;
  visibility: hidden;
}
.editButton[data-state=initial] {
  margin: 80px 150px 0 auto !important;
  /*visibility: hidden;*/
}
.deleteButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.resizeButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.colorButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.rotateButton[data-state=initial] {
  margin: 8px 157px 0px auto !important;
  visibility: hidden;
}
.button-display {
  margin: 0px 0 68px 93px;
}
.a-enter-vr-button {
  display: none;
}

button {
  /*background: #F9DC84;*/
  border: solid #5B778A 5px;
  color: #5B778A;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width:90%;
  border-radius: 9px;
  opacity:0.8;
  margin: 4px 5%;
}

div.hide-state{
  display: none;
}

button.hide-button{
  display: none;
}

center.hide-center{
  display: none;
}


table {
  margin: 4px 5%;
  width: 90%;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  z-index: 1;
}

td, th {
  text-align: center;
  width: 33%;
}

.colorPicker{
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 45%;
  padding: 15px;
  margin: 5px;
}

.addRemoveButton{
  position: absolute;
  box-shadow: none !important;
  bottom: 3vh;
  right: 3vw;
  z-index: 1;
}
.addButton{
  display: inline-block;
  box-shadow: none !important;
  min-width: 60px;
  min-height: 60px;
  height: 7vw;
  width: 7vw;
}
.doneButton{
  height: 8vw;
  width: 8vw;
  margin: 1vw;
  min-width: 80px;
  min-height: 80px;
}
.editButton{
  margin: 1vw;
  height: 5vw;
  width: 5vw;
  min-height: 50px;
  min-width: 50px;
}
.removeButton{
  display: inline-block;
  box-shadow: none !important;
  min-width: 60px;
  min-height: 60px;
  height: 7vw;
  width: 7vw;
}

#fileInputField {
  background: rgb(255,255,255);
  border: solid #575757 5px;
  color: #000000;
  padding: 15px 1px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  display:inline-block;
  width:100%;
  border-radius: 9px;
}



/*NEW CSS*/
.boxAndButtons{
  z-index: 1;
}
.objectAddBox{
  background: #1A237E;
  width: 80vw;
  height: 70vh;
  border-radius: 15px;
  top:5vh;
  padding: 10px;
}
.dropdown {
    position: relative;
    float: left;
    width: 160px;
    margin-right: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    background-color:#3F51B5;
    color: white;
    border: none;
    padding: 15px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    float: left;
    min-width: 160px;
    font-family: 'Roboto';
}
.dropdown:hover .dropbtn {
    background-color:#3949AB;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: left;
    margin-top:50px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 12pt;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-family: 'Roboto';
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.box{
  width: 100%;
}
.container-4{
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}
.container-4 input#search{
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 12pt;
 font-family: 'Roboto';
  float: left;
  color: #2b303b;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #3F51B5;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 12pt;
  font-family: 'Roboto';
 
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
  .container-4:hover button.icon:hover{
    background: #5C6BC0;
}

.objects{
  background: #fff;
  height: 58vh;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  overflow-y: scroll;
}
.editTray{
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  left: 10vh;
  right: 10vh;
}

div.gallery {
    margin: 5px;
    border: 5px solid #E91E63;
    float: left;
    min-width: 135px;
    max-width: 200px;
    cursor: pointer;
}
div.gallery:hover {
    border: 5px solid #EC407A;
}
div.gallery img {
    width: 100%;
    height: auto;
}
a {
  cursor: pointer;
}

.cancelButton {
    background-color: #E91E63;
    color: white;
    border: none;
    padding: 15px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    max-width: 160px;
    width:40%;
    margin: 5px;
    outline: none;
    font-family: 'Roboto';
}
.uploadButton {
    background-color: #E91E63;
    color: white;
    border: none;
    padding: 15px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    max-width: 160px;
    width: 40%;
    margin:5px;
    outline: none;
    font-family: 'Roboto';
}
.cancelButton:hover{
    background-color: #D81B60;
}
.uploadButton:hover{
    background-color: #D81B60;
}


/*Editing Box Stuff*/

.editingBox {
  position: absolute;
  bottom: 1%;
  background: #343d46;
  width: 90%;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
.editOptionsBox{
  width: 63%;
  float:left;
  margin:1%;
}
.finalOptionsButtonBox{
  width:33%;
  float:left;
  margin: 1%;
}
.editOptionsButton{
  background-color: #778899;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  width: 45%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  line-height: 70%;
  min-width: 160px;
}
.editOptionsButton:hover{
  background-color: #4f5b66;
}
.finalOptionsButton{
  background-color: #a4afbb;
  color: #4f5b66;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  width: 42%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  line-height: 70%
  min-width: 80px;
}
.finalOptionsButton:hover{
  background-color: #5b6b7a;
  color: white;
}
.moveButtons{
  background-color: #778899;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  width: 25%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  min-width: 100px;
}
.moveButtons:hover{
  background-color: #4f5b66;
}
.finishButton{
  background:#e7eaed;
  color: #4f5b66;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  width: 88%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  line-height: 70%
  min-width: 80px;
}
.finishButton:hover{
  background-color: #5b6b7a;
  color: white;
}
.completeButton{
  background:#e7eaed;
  color: #4f5b66;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
  width: 45%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  line-height: 70%
  min-width: 80px;
}
.completeButton:hover{
  background-color: #5b6b7a;
  color: white;
}
.resizeButton{
  background-color: #778899;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
  width: 45%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  line-height: 70%
  min-width: 80px;
}
.resizeButton:hover{
  background-color: #4f5b66;
}
.cancelEditButton{
  background-color: #a4afbb;
  color: #4f5b66;
  border: none;
  padding: 15px;
  font-size: 18pt;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
  width: 45%;
  margin:5px;
  outline: none;
  font-family: 'Roboto';
  line-height: 70%
  min-width: 80px;
}
.cancelEditButton:hover{
  background-color: #5b6b7a;
  color: white;
}
/*


.fa-undo{
  margin-top: -2%;
}
.fa-arrow-right{
  margin-top: -5%;
}
.fa-arrow-left{
  margin-top: -5%;
}
.fa-arrow-up{
  margin-top: -5%;
}
.fa-arrow-down{
  margin-top: -5%;
}*/
.fa {
  margin-top: -4%;
}
.fa-check{
  margin-top: -2%;
}
/*.fa-trash{
  margin-top: -2%;
}
.fa-check{
  margin-top: -1%;
}
*/