.login-btn, .register-btn {
  display: inline-block;
  padding: 10px 12px;
  font-size: 22px;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  color: #000;
  background-color: #F9DC84;
  border-radius: 15px;
  margin-top: 5vh;
  margin-right:1vw;
}

.register-btn {
  margin-right: 0;
}

.login-btn:hover, .register-btn:hover {background-color: #454750}

img {
    width: 100%;
}

p {
    font-style: 48;
}
